GOOGLE_API_KEY=A.....................................................I
OPENAI_API_KEY=sk-proj-..........................................
export LANGCHAIN_TRACING_V2=true
export LANGCHAIN_API_KEY="lsv..........................3"
LANGCHAIN_PROJECT="pr-prickly-kitty-99"
TAVILY_API_KEY=tv.........................v